/* Body font-family: 'Roboto Mono', monospace; 
Nasa font-family: 'Space Mono', monospace;
*/

body {
  width: 100%;
  background-image: url("./img/bg.jpg");
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.headerDiv {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  margin: 0;
}

h2 {
  font-size: 6rem;
  font-family: "Space Mono", monospace, sans-serif;
  color: #ffffff;
}

h3 {
  font-size: 2rem;
  font-family: "Space Mono", monospace, sans-serif;
  color: silver;
}

.summary {
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  color: #ffffff;
  font-family: "Roboto Mono", monospace, sans-serif;
  width: 100%;
}

.postDescDiv {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.postDesc {
  text-align: left;
  color: #ffffff;
  width: 700px;
}
